<div class="container">
  <div *ngIf="atuendosMovimientos.length > 0 && !loading; else no_atuendos" class="row">
    <div class="col-12">
      <table class="table text-center main-table background-cheto text-white mt-5">
        <thead>
          <tr>
            <th class="no-mobile">Id</th>
            <th>Parte superior</th>
            <th>Parte inferior</th>
            <th>Calzado</th>
            <th class="no-mobile">Aceptado</th>
            <th></th>
            <th class="no-mobile"></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let atuendo of atuendosMovimientos">
            <tr class="alto-tooltip" [tooltip]="getAtuendoFull(atuendo)" placement="bottom" show-delay="500" max-width="1500">
              <td class="no-mobile" data-label="Id">{{atuendo.id}}</td>
              <td data-label="Parte superior">{{ formatString(parsePrenda(atuendo, partesSuperiores)) }}</td>
              <td data-label="Parte inferior">{{ formatString(parsePrenda(atuendo, partesInferiores)) }}</td>
              <td data-label="Calzado">{{ formatString(parsePrenda(atuendo, calzado)) }}</td>
              <td class="no-mobile" data-label="Aceptado">{{atuendo.aceptado ? 'Si' : 'No'}}</td>
              <td data-label=""><button type="button"
                  class="m-auto a-link text-white" [ngClass]="{ 'text-black-50': sePuedeAceptarEventos}" data-toggle="modal" data-target="#AceptarAtuendoModal"
                  (click)="setIdAtuendo(atuendo.id)" [disabled]="sePuedeAceptarEventos">Aceptar</button></td>
              <td class="no-mobile" data-label="">
                <button *ngIf="atuendo.calificacion === -1 && atuendo.aceptado; else no_calificacion" type="button" class="m-auto a-link text-white" data-toggle="modal" data-target="#calificarAtuendoModal" (click)="setIdAtuendo(atuendo.id)">Calificar</button>
                <ng-template #no_calificacion>
                  <span>{{atuendo.calificacion === -1 ? '-' : atuendo.calificacion }}</span>
                </ng-template>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #no_atuendos>
    <div [ngClass]="{ 'row h-100': loading}">
      <div *ngIf="loading;else no_loading" class="loader m-auto"></div>
    </div>
    <ng-template #no_loading>
      <div class="d-flex flex-column background-cheto text-white p-5 w-75 mt-3 mx-auto">
        <span class="m-auto text-center">En este momento no podemos generar atuendos para este evento. Vuelva a intentar mas tarde!</span>
      </div>
    </ng-template>
  </ng-template>
</div>

<!-- Modal Calificar-->
<div class="modal fade" id="calificarAtuendoModal" tabindex="-1" role="dialog" aria-labelledby="calificarAtuendoModallLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="calificarAtuendoModalLabel">Califica un atuendo!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex flex-column">
        <div class="form-group my-auto">
          <input class="form-control" type="number" min="1" max="10" placeholder="Ingrese la calificacion del atuendo" [(ngModel)]="currentCalificacion"/>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="limpiarCalificacion()">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="calificarAtuendo()">Calificar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Aceptar-->
<div class="modal fade" id="AceptarAtuendoModal" tabindex="-1" role="dialog" aria-labelledby="AceptarAtuendoModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AceptarAtuendoModalLabel">Aceptar atuendo :)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex flex-column">
        <span>Se va a aceptar el atuendo. Esta seguro que desea hacerlo?</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="aceptarAtuendo()">Aceptar</button>
      </div>
    </div>
  </div>
</div>