<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table text-center main-table background-cheto text-white mt-5">
        <thead>
          <tr>
            <th class="no-mobile">Id</th>
            <th>Parte superior</th>
            <th>Parte inferior</th>
            <th>Calzado</th>
            <th class="no-mobile">Aceptado</th>
            <th></th>
            <th class="no-mobile"></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let atuendo of atuendosSugeridos">
            <tr>
              <td class="no-mobile" data-label="Id">{{atuendo.id}}</td>
              <td data-label="Parte superior">{{atuendo.id}}</td>
              <td data-label="Parte inferior">{{atuendo.id}}</td>
              <td data-label="Calzado">{{atuendo.id}}</td>
              <td class="no-mobile" data-label="Aceptado">{{atuendo.aceptado ? 'Si' : 'No'}}</td>
              <td data-label=""><button type="button"
                  class="m-auto a-link text-white" [ngClass]="{ 'text-black-50': atuendo.aceptado}" data-toggle="modal" data-target="#AceptarAtuendoModal"
                  (click)="setIdAtuendo(atuendo.id)" [disabled]="atuendo.aceptado">Aceptar</button></td>
              <td class="no-mobile" data-label=""><button type="button" class="m-auto a-link text-white"
                  data-toggle="modal" data-target="#calificarAtuendoModal"
                  (click)="setIdAtuendo(atuendo.id)">Calificar</button></td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal Calificar-->
<div class="modal fade" id="calificarAtuendoModal" tabindex="-1" role="dialog" aria-labelledby="calificarAtuendoModallLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="calificarAtuendoModalLabel">Agrega un evento!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex flex-column">
        <div class="form-group my-auto">
                <input class="form-control" type="number" placeholder="Ingrese la calificacion del atuendo" [(ngModel)]="currentCalificacion" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="limpiarCalificacion()">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="calificarAtuendo()">Calificar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Aceptar-->
<div class="modal fade" id="AceptarAtuendoModal" tabindex="-1" role="dialog" aria-labelledby="AceptarAtuendoModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AceptarAtuendoModalLabel">Aceptar atuendo :)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex flex-column">
        <span>Se va a aceptar el atuendo. Esta seguro que desea hacerlo?</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="aceptarAtuendo()">Aceptar</button>
      </div>
    </div>
  </div>
</div>