<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table text-center main-table background-cheto text-white mt-5">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Ciudad</th>
                        <th>Fecha</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="Id">{{evento.id}}</td>
                        <td data-label="Nombre">{{evento.nombre}}</td>
                        <td data-label="Ciudad">{{evento.ciudad}}</td>
                        <td data-label="Fecha">{{evento.fecha}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>