<div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table text-center main-table background-cheto text-white mt-5">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container>
                            <tr>
                                <td data-label="Id">{{guardarropa.id}}</td>
                                <td data-label="Nombre">{{guardarropa.nombre}}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>