.eye-normal::after {
    font-family: 'FontAwesome';
    content: '\f06e';
    font-size: 20px;
    cursor: pointer;
}

.eye-slash::after {
    content: '\f070';
}

.background-cheto {
    background-color: #3d3f41;
}